<div class="cards">

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="assets/client1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/client1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

</div>
</div>

<!-- بعملbinding -->


  <!-- <h1 class="mx-5 my-5">{{Product1.PrdName}}</h1>

<h2> The branches:  <h5 *ngFor="let prd of Product1.branches " >{{prd}}</h5></h2>
<img src="{{Product1.Logo}}"[width]="200">



 <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{{newProduct.img}}"  class="w-25" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> id : {{newProduct.id}}</h5>
      <h5 class="card-title">name : {{newProduct.name}}</h5>
      <h5 class="card-title">quantity : {{newProduct.quantity}}</h5>
      <h5 class="card-title">categoryId : {{newProduct.categoryId}}</h5>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

</div> -->
